@model IEnumerable<ShopBaby.Data.Model.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Products</li>
        </ol>
    </div>
</div>
<!--//breadcrumbs-->
<!--products-->
<div class="products">
    <div class="container">
        <div class="col-md-9 product-model-sec">
            <div class="text-right">Trang : @ViewBag.TrangHienTai/@ViewBag.TongSoTrang</div>
            @foreach (var item in Model)
            {
                <div class="product-grids product-grids-mdl simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="new-top">
                        <a asp-action="Detail" asp-route-id="@item.ID" asp-controller="Product"><img src="../../@item.Image" style="width: 235px;height:297px" class="img-responsive" alt="" /></a>
                        <div class="new-text">
                            <ul>
                                <li><a asp-action="Detail" asp-route-id="@item.ID" asp-controller="Product">Quick View </a></li>
                                <li><input type="number" class="item_quantity" min="1" value="1"></li>
                                <li><a asp-controller="Cart" asp-action="AddToCart" class="item_add" asp-route-id="@item.ID"> Add to cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="new-bottom">
                        <h5><a class="name" asp-action="Detail" asp-route-id="@item.ID" asp-controller="Product">@item.Name</a></h5>
                        <div class="rating">
                            <span class="on">☆</span>
                            <span class="on">☆</span>
                            <span class="on">☆</span>
                            <span class="on">☆</span>
                            <span>☆</span>
                        </div>
                        @if (item.PromotionPrice != null)
                        {
                            <div class="ofr">
                                <p class="pric1"><del>@item.Price.ToString("#,##0")</del></p>
                                <p><span class="item_price">@item.PromotionPrice.Value.ToString("#,##0")</span></p>
                            </div>
                        }
                        else
                        {
                            <div class="ofr">
                                <p><span class="item_price">@item.Price.ToString("#,##0")</span></p>
                            </div>
                        }

                    </div>
                </div>
            }
        </div>
        <div class="col-md-3 rsidebar">
            <div class="rsidebar-top">
                <div class="sidebar-row">
                    <h4>DISCOUNTS</h4>
                    <div class="row row1 scroll-pane">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Upto - 10% (20)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>70% - 60% (5)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>50% - 40% (7)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (2)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (5)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="float-right">
            <a class="btn btn-primary" asp-action="Index" asp-route-ID="@ViewBag.ID" asp-route-page="1">Đầu</a>
            <a class="btn btn-primary" asp-action="Index" asp-route-ID="@ViewBag.ID" asp-route-page="@(ViewBag.TrangHienTai-1)">Trước</a>
            <a class="btn btn-primary" asp-action="Index" asp-route-ID="@ViewBag.ID" asp-route-page="@(ViewBag.TrangHienTai+1)">Kế</a>
            <a class="btn btn-primary" asp-action="Index" asp-route-ID="@ViewBag.ID" asp-route-page="@ViewBag.TongSoTrang">Cuối</a>
        </div>
    </div>
</div>

<!--//products-->
